cscope.out
cscope.files
*.gcda
*.gcno
coverage.info
coverage/
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoreconf.log
autoscan.log
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
configure.scan
install-sh
ltmain.sh
m4/
missing
